[submodule "tvm-gdb-extension"]
	path = tvm-gdb-extension
	url = https://github.com/Lunderberg/tvm-gdb-extension
[submodule "ffi-navigator"]
	path = ffi-navigator
	url = https://github.com/tqchen/ffi-navigator.git
[submodule "tvm-gdb-commands"]
	path = tvm-gdb-commands
	url = https://github.com/anirudhsundar/tvm-gdb-commands.git
